# Querying IBM Db2 Event Store
IBM Db2 Event Store is a hybrid transactional/analytical processing (HTAP) system. This notebook will demonstrate the best practices for querying a table stored in IBM Db2 Event Store.

***Pre-Req: Event_Store_Table_Creation***

## Connect to IBM Db2 Event Store

### Determine the IP address of your host

Obtain the IP address of the host that you want to connect to by running the appropriate command for your operating system:

* On Mac, run: `ifconfig`
* On Windows, run: `ipconfig`
* On Linux, run: `hostname -i`

Edit the `HOST = "XXX.XXX.XXX.XXX"` value in the next cell to provide the IP address.

In [2]:
# Set your host IP address
HOST = "XXX.XXX.XXX.XXX"

# Port will be 1100 for version 1.1.2 or later (5555 for version 1.1.1)
PORT = "1100"

# Database name
DB_NAME = "TESTDB"

# Table name
TABLE_NAME = "IOT_TEMPERATURE"

## Import Python modules

In [3]:
from eventstore.common import ConfigurationReader
from eventstore.oltp import EventContext
from eventstore.sql import EventSession
from pyspark.sql import SparkSession

## Connect to Event Store

In [4]:
endpoint = HOST + ":" + PORT
print("Event Store connection endpoint:", endpoint)
ConfigurationReader.setConnectionEndpoints(endpoint)

Event Store connection endpoint: 192.168.0.106:1100

## Open the database

The cells in this section are used to open the database and create a temporary view for the table that we created previously.

To run Spark SQL queries, you first have to set up a Db2 Event Store Spark session. The EventSession class extends the optimizer of the SparkSession class.

In [5]:
sparkSession = SparkSession.builder.appName("EventStore SQL in Python").getOrCreate()
eventSession = EventSession(sparkSession.sparkContext, DB_NAME)

The next cell opens the database to allow operations against it to be executed.

In [6]:
eventSession.open_database()

With the following cells, we can list all existing tables and then load the table we previously created into the tab DataFrame reference. Note that we are defining the `tab` DataFrame reference that will be used later on in this notebook to create a temporary view.

In [7]:
with EventContext.get_event_context(DB_NAME) as ctx:
   print("Event context successfully retrieved.")

print("Table names:")
table_names = ctx.get_names_of_tables()
for name in table_names:
   print(name)

Event context successfully retrieved.
Table names:
IOT_TEMPERATURE

In [8]:
tab = eventSession.load_event_table(TABLE_NAME)

Let's recall the table schema we previously created.

In [9]:
try:
    resolved_table_schema = ctx.get_table(TABLE_NAME)
    print(resolved_table_schema)
except Exception as err:
    print("Table not found")

ResolvedTableSchema(tableName=IOT_TEMPERATURE, schema=StructType(List(StructField(deviceID,IntegerType,false),StructField(sensorID,IntegerType,false),StructField(ts,LongType,false),StructField(ambient_temp,DoubleType,false),StructField(power,DoubleType,false),StructField(temperature,DoubleType,false))), sharding_columns=['deviceID', 'sensorID'], pk_columns=['deviceID', 'sensorID', 'ts'], partition_columns=None)

## Best Practices for efficient queries

In the next cell we create a lazily evaluated "view" that we can then use like a hive table in Spark SQL, but this is only evaluated when we actually run or cache query results. We are calling this view "readings" and that is how we will refer to it in the queries below:

In [10]:
tab.createOrReplaceTempView("readings")

In [11]:
query = "SELECT count(*) FROM readings"
print("{}\nRunning query in Event Store...".format(query))
df_data = eventSession.sql(query)
df_data.toPandas()

SELECT count(*) FROM readings
Running query in Event Store...

   count(1)
0    999999

Let's have a look at the record structure

In [12]:
query = "SELECT * FROM readings LIMIT 1"
print("{}\nRunning query in Event Store...".format(query))
df_data = eventSession.sql(query)
df_data.toPandas()

SELECT * FROM readings LIMIT 1
Running query in Event Store...

   deviceID  sensorID             ts  ambient_temp     power  temperature
0         1        24  1541019343497     22.545444  9.834895    39.065559

In [13]:
query = "SELECT MIN(ts), MAX(ts) FROM readings"
print("{}\nRunning query in Event Store...".format(query))
df_data = eventSession.sql(query)
df_data.toPandas()

SELECT MIN(ts), MAX(ts) FROM readings
Running query in Event Store...

         min(ts)        max(ts)
0  1541019343497  1541773999825

## Optimal query through the index

- Index queries will significantly reduce amount of data that needs to be scanned for results. 
    - Indexes in IBM Db2 Event Store are formed asynchronously to avoid insert latency. 
    - They are stored as a Log Structured Merge (LSM) Tree.
    - The index is formed by "runs", which include sequences of sorted keys. These runs are written to disk during “Share” processing.
    - These index runs are merged together over time to improve scan and I/O efficiency.

- For an optimal query performance you must specify equality on all the equal_columns in the index and a range on the sort column in the index.

For example, in the following query we are retrieving all the values in the range of dates for a specific device and sensor, where both the `deviceID` and `sensorID` are in the equal_columns definition for the index schema and the `ts` column is the sort column for the index.

In [14]:
index_query = "SELECT ts, temperature  FROM readings where deviceID=1 and sensorID=12 and ts >1541021271619 and ts < 1541043671128 order by ts"
print("{}\nCreating a dataframe for the query ...".format(index_query))
df_index_query = eventSession.sql(index_query)

SELECT ts, temperature  FROM readings where deviceID=1 and sensorID=12 and ts >1541021271619 and ts < 1541043671128 order by ts
Creating a dataframe for the query ...

Then the following cell runs the query and caches the results. Note that this caching is for demostration purposes, to show the time it takes to run the query and cache the results in memory within Spark. This caching is recommended when you are going to do additional processing on this cached data, as the query against IBM Db2 Event Store is only run once.

In [15]:
%%time
df_index_query.cache()

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 634 ms

DataFrame[ts: bigint, temperature: double]

Finally the results from the cached data can be visualized:

In [16]:
df_index_query.toPandas()

                ts  temperature
0    1541021321393    40.204513
1    1541021364651    44.899199
2    1541021373123    38.694953
3    1541021399823    41.095604
4    1541021508549    43.350289
5    1541021523675    33.144291
6    1541021584929    40.710335
7    1541021751002    42.303187
8    1541021814624    43.006241
9    1541021838730    36.723280
10   1541021877637    45.986306
11   1541021959804    42.959368
12   1541022032291    40.636561
13   1541022068919    41.378277
14   1541022101703    42.235179
15   1541022156389    39.614191
16   1541022158167    38.137318
17   1541022200720    39.821523
18   1541022251871    41.431687
19   1541022264579    38.704199
20   1541022299365    38.639203
21   1541022338928    40.631617
22   1541022517650    45.223687
23   1541022547533    47.178188
24   1541022581236    41.993974
25   1541022815229    39.143291
26   1541023054996    47.328173
27   1541023104573    44.980321
28   1541023118533    43.810708
29   1541023142959    42.004023
..             ...          ...
280  1541042003739    36.321170
281  1541042012945    44.719616
282  1541042014543    43.523972
283  1541042064371    45.804933
284  1541042101878    37.435386
285  1541042232294    43.965728
286  1541042265479    38.468307
287  1541042286571    44.664419
288  1541042289928    46.837588
289  1541042345881    36.449653
290  1541042399916    44.048184
291  1541042429446    37.202616
292  1541042472839    33.879343
293  1541042507998    41.676726
294  1541042511035    36.490457
295  1541042533892    36.755233
296  1541042557387    37.285834
297  1541042650540    42.803549
298  1541042786046    39.570971
299  1541042802832    41.105282
300  1541042990876    40.194371
301  1541043103983    39.681841
302  1541043211589    35.139073
303  1541043319775    40.554233
304  1541043324842    41.221549
305  1541043359510    46.030891
306  1541043509740    39.898476
307  1541043556843    38.970563
308  1541043630200    36.667229
309  1541043634251    39.075059

[310 rows x 2 columns]

## Sub-optimal query

This next query shows a sub-optimal query that only specifies equality in one of the equal_columns in the index schema, and for this reason ends up doing a full scan of the table.

In [17]:
fullscan_query = "SELECT count(*) FROM readings where sensorID = 7"
print("{}\nCreating a dataframe for the query...".format(fullscan_query))
df_fullscan_query = eventSession.sql(fullscan_query)

SELECT count(*)  FROM readings where sensorID = 7
Creating a dataframe for the query...

In [18]:
%%time
df_fullscan_query.cache()

CPU times: user 10 ms, sys: 0 ns, total: 10 ms
Wall time: 371 ms

DataFrame[count(1): bigint]

In [19]:
df_fullscan_query.toPandas()

   count(1)
0     20396

## Accessing multiple sensorIDs optimally

The easiest way to write a query that needs to retrieve multiple values in the equal_columns in the index schema is by using an *In-List*. With this, you can get optimal index access across multiple sensorID's. 

In this example we specify equality for a specific deviceID, and an In-List for the four sensors we are trying to retrieve. To limit the number of records we are returning we also include a range of timestamps.

In [20]:
inlist_query = "SELECT deviceID, sensorID, ts FROM readings where deviceID=1 and sensorID in (1, 5, 7, 12) and ts >1541021271619 and ts < 1541043671128 order by ts"
print("{}\nCreating a dataframe for the query...".format(inlist_query))
df_inlist_query = eventSession.sql(inlist_query)

SELECT deviceID, sensorID, ts  FROM readings where deviceID=1 and sensorID in (1, 5, 7, 12) and ts >1541021271619 and ts < 1541043671128 order by ts
Creating a dataframe for the query...

In [21]:
%%time
df_inlist_query.cache()

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 226 ms

DataFrame[deviceID: int, sensorID: int, ts: bigint]

In [22]:
df_inlist_query.toPandas()

      deviceID  sensorID             ts
0            1        12  1541021321393
1            1         5  1541021350290
2            1         7  1541021353694
3            1        12  1541021364651
4            1         7  1541021365768
5            1        12  1541021373123
6            1        12  1541021399823
7            1         1  1541021441838
8            1         1  1541021447795
9            1         5  1541021451651
10           1         5  1541021457617
11           1         1  1541021459237
12           1         5  1541021466059
13           1         1  1541021489618
14           1        12  1541021508549
15           1         5  1541021513013
16           1        12  1541021523675
17           1         1  1541021569337
18           1         1  1541021571435
19           1        12  1541021584929
20           1         5  1541021612790
21           1         5  1541021620227
22           1         1  1541021620940
23           1         1  1541021629517
24           1         7  1541021646276
25           1         1  1541021648162
26           1         1  1541021672413
27           1         1  1541021712981
28           1        12  1541021751002
29           1         1  1541021751514
...        ...       ...            ...
1202         1         1  1541043151104
1203         1         1  1541043171672
1204         1         5  1541043174675
1205         1         5  1541043192738
1206         1         7  1541043202910
1207         1        12  1541043211589
1208         1         7  1541043255500
1209         1         7  1541043262704
1210         1         7  1541043278851
1211         1         5  1541043285417
1212         1         5  1541043298038
1213         1        12  1541043319775
1214         1         5  1541043324029
1215         1        12  1541043324842
1216         1         7  1541043331625
1217         1         1  1541043340096
1218         1        12  1541043359510
1219         1         1  1541043361257
1220         1         1  1541043370547
1221         1         5  1541043443082
1222         1         1  1541043445445
1223         1         5  1541043451523
1224         1         7  1541043477461
1225         1         1  1541043506088
1226         1        12  1541043509740
1227         1        12  1541043556843
1228         1         1  1541043591795
1229         1        12  1541043630200
1230         1        12  1541043634251
1231         1         7  1541043662114

[1232 rows x 3 columns]

## Exploiting the synopsis table:  Advanced medium weight queries

- Event Store tables include a synopsis table which summarizes the minimum/maximum values of the data for each range of rows in the synopsis table. 

     - It contains one range for every 1000 rows.
     - It is stored in a separate internal table in the shared storage layer.
     - It is parquet compressed to minimize footprint.
     - For highly selective queries, it can improve performance by up to 1000x.

- Using an equality or a range predicate on a clustered field (e.g. the 'ts' column in our case because the data is inserted into the table in order) is faster than doing a full scan as it should be able to exploit the synopsis table, but this will be slower than an optimal index scan.

In [23]:
synopsis_query = "SELECT deviceID, sensorID, ts FROM readings where ts >1541021271619 and ts < 1541043671128 order by ts"
print("{}\nCreating a dataframe for the query...".format(synopsis_query))
df_synopsis_query = eventSession.sql(synopsis_query)

SELECT deviceID, sensorID, ts FROM readings where ts >1541021271619 and ts < 1541043671128 order by ts
Creating a dataframe for the query...

In [24]:
%%time
df_synopsis_query.cache()

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 742 ms

DataFrame[deviceID: int, sensorID: int, ts: bigint]

In [25]:
df_synopsis_query.toPandas()

       deviceID  sensorID             ts
0             1         9  1541021272082
1             1         3  1541021272990
2             1        29  1541021273199
3             1        23  1541021274488
4             2        17  1541021275216
5             1         6  1541021276157
6             2        47  1541021276987
7             2        21  1541021277039
8             2        37  1541021277872
9             2        46  1541021278309
10            2         3  1541021279173
11            2        45  1541021280670
12            1        22  1541021282072
13            1        13  1541021282561
14            1        36  1541021283542
15            1        49  1541021284641
16            2        40  1541021284972
17            1        11  1541021285816
18            2        11  1541021287208
19            2        11  1541021288555
20            2        26  1541021290053
21            2         1  1541021290659
22            1         6  1541021291931
23            1        15  1541021292396
24            1        32  1541021292803
25            1        38  1541021293307
26            1        22  1541021294304
27            1        38  1541021295725
28            2        31  1541021296529
29            1        48  1541021297077
...         ...       ...            ...
29588         2        22  1541043649030
29589         1        48  1541043650424
29590         1        41  1541043650576
29591         2         3  1541043651498
29592         1        35  1541043652965
29593         2        23  1541043653592
29594         2         6  1541043654247
29595         1        46  1541043655732
29596         1        48  1541043657163
29597         1        22  1541043658283
29598         1        39  1541043659330
29599         1        40  1541043659620
29600         1        28  1541043661103
29601         1        16  1541043661548
29602         1        48  1541043661912
29603         1         7  1541043662114
29604         2         3  1541043663281
29605         1        15  1541043664559
29606         2        17  1541043665252
29607         1        28  1541043666335
29608         1         9  1541043666800
29609         1         9  1541043666839
29610         1        42  1541043667737
29611         2        49  1541043668559
29612         1        41  1541043668809
29613         1        17  1541043669145
29614         1        39  1541043669790
29615         2        28  1541043670005
29616         2        47  1541043670101
29617         1        13  1541043670610

[29618 rows x 3 columns]

## Summary
This demo introduced you to the best practices querying the table stored in IBM Db2 Event Store database.

## Next Step
`"Event_Store_Data_Analytics.ipynb"` will show you how to perform data analytics with IBM Db2 Event Store with multiple scientific tools.